.footer{
    max-width: 1440px;
    height: 422px;
    padding: 4rem 12rem 4rem 4rem;
    background-color:$color-level-1;
    display: flex;
    justify-content: space-between;
      

    &__container{

        &__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
            &__img{

                &-logo{
                    height: 4rem;
                    width: 13rem;
                   
                }

                &__social{
                    margin-top: 2rem;
                    &-logo{
                        &:not(:last-child){
                            margin-right: 1rem;
                        }
                        width: 2.4rem; 
                        height: 2.4rem;
                    }
                }
            }

            &__text{

                &-paragraph{
                    width: 42.6rem;
                    height: 2.4rem;
                    color: #8491A0;
                }
            }
        }

        &__right{
        display: flex;
        padding-top: 3rem;
            &__list{
                list-style: none;
               
                &-item{
                    width: 19.6rem;
                    height: 4.8rem;
                }

                &-link{
                    text-decoration: none;
                    color: $color-text; 
                    cursor: pointer;
                }
            }
        }

    }


}