/*
.insta {
  display: flex;
  background-color: $color-base;
  @include respond(phone) {
    flex-direction: column;
  }

  &__container {
    display: flex;
    background-color: $color-peach-accent;


    @include respond(phone) {
        padding: 5rem 2.5rem;
      }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      &__1 {
        &-title {
          color: $color-level-1;
          align-self: flex-start;
          //width: 28.5rem;
          //height: 6.6rem;
          line-height: 6.6rem;
          margin-bottom: 3rem;

          @include respond(phone) {
            font-size: 4rem;
            line-height: 4.2rem;
          }
        }

        &-paragraph {
          //padding-right: 12rem;
          //width: 63.6rem;
          //height: 8.1rem;
          //left: 7.2rem;
          line-height: 2.7rem;
          color: #5b6876;

          @include respond(phone) {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 8rem;
            padding-right: 6rem ;
          }
        }
      }

      &-btn {
        align-self: flex-start;
        height: 2.4rem;
        border: none;
        color: $color-base;
        border-bottom: 1px solid currentColor;
        padding-bottom: 0.8rem;
        cursor: pointer;
        background-color: transparent;
        line-height: 2.4rem;

        @include respond(phone) {
          font-size: 2rem;
          height: 3.5rem;
          line-height: 3rem;
        }
      }
    }
  }

  &__picture {

    &__img {
      width: 100%;
      height: 100%;
    }

  }
}
*/
.insta {
  display: flex;
  background-color: $color-base;

  @include respond(tab-min) {
    height: 80vh;
  }

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__container {

    @include respond(tab-min) {
      width: 55%;
    }

    display: flex;
    background-color: $color-violet-accent;

    @include respond(tab-port) {
      padding: 10rem 2.5rem;
    }

    &__text {

      @include respond(tab-min) {
        padding: 0 10rem;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      &__1 {
        &-title {
          color: $color-level-1;
          align-self: flex-start;
        
          line-height: 6.6rem;
          margin-bottom: 3rem;

          @include respond(tab-port) {
            font-size: 4rem;
            line-height: 4.2rem;
          }
        }

        &-paragraph {
      
          line-height: 2.7rem;
          color: #5b6876;

          @include respond(tab-port) {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 8rem;
            padding-right: 6rem;
          }
        }
      }

      &-btn {
        align-self: flex-start;
        height: 2.4rem;
        border: none;
        color: $color-base;
        border-bottom: 1px solid currentColor;
        padding-bottom: 0.8rem;
        cursor: pointer;
        background-color: transparent;
        line-height: 2.4rem;

        @include respond(tab-port) {
          font-size: 2rem;
          height: 3.5rem;
          line-height: 3rem;
        }
      }
    }
  }

  &__picture {

    @include respond(tab-min) {
      width: 50%;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
