.photography {
  background-color: $color-base;

  @include respond(phone) {
    padding: 6rem 2rem;
  }

  &__text {
    &-title {
      //width: 34.9rem;
      //height: 6.6rem;
      margin-bottom: 4rem;
      line-height: 6.6rem;
      color: $color-text;

      @include respond(phone) {
        font-size: 4rem;
        line-height: 4.5rem;
      }
    }

    &-paragraph {
      //width: 63.6rem;
      //height: 5.4rem;
      margin-bottom: 3.5rem;
      line-height: 2.7rem;
      color: #8491a0;

      @include respond(phone) {
        font-size: 2.4rem;
        line-height: 3.3rem;
      }
    }
  }

  &__list {
    @include respond(phone) {
      display: none;
    }

    display: flex;
    margin-bottom: 3.5rem;

    &__item {
      display: flex;
      align-items: center;
      margin-right: 6rem;
      width: auto;
      height: 5.1rem;
      border: 1px solid #5221e6;
      list-style: none;
      text-transform: uppercase;

      &--active {
        background-color: #5221e6;
      }

    }

    &-link {
      padding: 0 1rem 0 1rem;
      color: $color-text;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @include respond(phone) {
    &__phonelist {
      display: flex;
      justify-content: space-between;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        width: 15rem;
        height: 5.1rem;
        border: 1px solid #5221e6;
        list-style: none;
        text-transform: uppercase;

        &--active {
          background-color: #5221e6;
        }
      }

      &-link {
        
        padding: 0 1rem 0 1rem;
        color: $color-text;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }

    &-1 {
      width: 100%;
      height: 100%;
    }

    &-2 {
      @include respond(phone) {
        display: none;
      }

      width: 100%;
      height: 100%;
    }

    &-3 {
      @include respond(phone) {
        display: none;
      }

      width: 100%;
      height: 100%;
    }

    &-4 {
      @include respond(phone) {
        display: none;
      }

      width: 100%;
      height: 100%;
    }
  }
}
