.skilset {
  background-color: $color-base;

  padding: 5rem;

  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column;
  }

  &__text {
    display: inline-block;
    color: $color-text;

    //width: 41.6rem;
    height: 22.5rem;
    margin-right: 2rem;

    &__title {
      width: 18.9rem;
      height: 6.6rem;

      @include respond(phone) {
        font-size: 4rem;
        line-height: 4.2rem;
      }
    }

    &-paragraph {
      line-height: 2.7rem;
      //width: 36.8rem;
      //height: 13.5rem;
      color: $color-light-grey;

      @include respond(phone) {
        font-size: 2.1rem;
        line-height: 2.7rem;
      }
    }
  }

  &__skils {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    @include respond(phone) {
      flex-direction: column;
      margin-top: 1rem;
    }

    &__card {
      //width: 36.8rem;
      //height: 16.9rem;
      margin-bottom: 2rem;

      @include respond(phone) {
        margin-top: 4rem;
      }

      &-svg {
        margin-bottom: 1rem;
        width: 3.2rem;
        height: 3.2rem;

        @include respond(phone) {
          margin-bottom: 2rem;
        }
      }

      &-title {
        margin-bottom: 1rem;
        //width: 17.7rem;
        height: 2.9rem;
        top: 5.6rem;
        color: $color-text;
        @include respond(phone) {
          font-size: 3rem;
          line-height: 2.8rem;
          margin-bottom: 2rem;
        }
      }

      &-paragraph {
        width: 36.8rem;
        height: 7.2rem;
        top: 9.7rem;
        color: $color-light-grey;
        line-height: 2.4rem;

        @include respond(phone) {
          line-height: 3rem;
          font-size: 2rem;
        }
      }
    }
  }
}
