.body-1{
    font-size: 1.8rem;
    font-weight: normal;
}


.body-2{
    font-size: 1.6rem;
    font-weight: normal;
}


.label-1{
    font-size: 11.7rem;
    font-weight: normal;
}

.heading-1{
    font-size: 7.6rem;
    font-weight: bold;
}

.heading-2{
    font-size: 5.5rem;
    font-weight: bold;
}


.heading-3{
    font-size: 2.4rem;
    font-weight: bold;
}


.heading-4{
    font-size: 1.8rem;
    font-weight: bold;
}


.heading-5{
    font-size: 1.6rem;
    font-weight: bold;
}


.overline{
    font-size: 1.6rem;
    font-weight: bold;
}


.button{
    font-size: 1.8rem;
    font-weight: bold;
}